body{
  background: rgb(139, 139, 139);
  color: rgb(33, 16, 129);
}
.container{
    width: 40%;
    text-align: center;
    margin: 20px auto;    
}
.btn-login{
  background: rgb(91, 248, 52);
  padding: 5px 10px;
  float: right;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .chat-side {
    width: 25%;
    height: auto;
    background: white;
    color: gray;
    
  }
  h6{
    color: rgb(3, 192, 3);
  }
  /* Middle column */
.screen-side {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #text-chat{
    bottom: 0;
    position: fixed;
    border-radius: 5px;
    
  }
  #left-chat{
    text-align: left;
  }
  #right-chat{
    text-align: right;
  }
  /* section{
    width: 100%;
    float: left;
    margin: 0 10px 0 0;
  } */
  #search_items{
    display: flex;
    border-top: dotted black 1px;
    padding: 10px;
  }

  #active-list{  
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: 10px;
    width: 75%;
  }
  .user{
    padding: 30px;
    border-radius: 50%;
    background: pink;
    margin: 3px;
  }
  #the-host{
    border: 3px yellow solid;
  }