
<script type="text/javascript" src="youTubehandle.js"></script>
<div class="row">  
    <div class="column screen-side">
            
            <section id="video"> 
              <!-- play video     -->
            </section>

            <div id="active-list">
                <!-- <div class="user">hello</div>         -->
             
            </div>   
            
    </div>   
    
    <div class="column chat-side">
      
        <button  class="btn btn-primary" id="btn-youtube">YouTube</button>
        <button  class="btn btn-primary" id="btn-chat-room">Chat</button>
     
      <section id="sec-video">
          <div id="search_items">
            <input  class="form-control" type="text" id="search-vid" placeholder="what r you looking for?">
            <button id="search" class="btn" type="button">Search</button>
        </div>
          <main>
              <!-- suggest   video -->
          </main>
      </section>
      <section id="sec-chat">
      <div id='message'></div>      
      <textarea name="newmessage" id="text-chat"  rows="3" style="width:100% " placeholder="text message hear"></textarea>
    </section>
    </div>
</div>
